.container {
    margin-left:9em;
    margin-right: -4em;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    width: 100%;//60
    transition:width 0.3s linear;

    &.-open {
        width: 60%;
    }

    div {
        flex: 0 50%;
        /*demo*/
        box-sizing:border-box;
        list-style-type: none;
    }
}

