@import "../../../assets/colors-app";

.pokemon-card {
    background: linear-gradient(0deg, $white 60%, $lightgrey 40%);
    cursor: pointer;
    padding: 1em;
    margin: 4em;
    border-radius: 15px;
    position: relative;

    .floaing-info {
        position: absolute;
        top: -20px;
        border-radius: 50%;
        padding: 1em;
        width: 40px;
        height: 40px;
        background-color: $white;
        text-align: center;
        line-height: 40px;
        color: $grey;
        font-weight: bold;

        &.-left {
            left: -20px;
        }
        &.-right {
            right: -20px;
        }
    }

    .background-id {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
        font-size: 120px;
        color: $white;
        font-weight: bold;
        z-index: 0;
    }

    .image {
        position: absolute;
        z-index: 100;
        width: 100px;
        height: 100px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
    }

    .data {
        margin: 8em 0 3em 0;
        display: block;
        text-align: center;
        .name {
            color: $grey;
            font-weight: bold;
            font-size: 32px;
        }
        .types {
            margin-top: 3em;
            display: flex;
            align-items: center;
            justify-content: center;

            .type {
                font-weight: bold;
                padding: 2em 1em;
            }
        }
    }
}