$lightgrey:  #E5E5E5;
$lightgray:  #E5E5E5;
$grey: #777777;
$white: #FFFFFF;
$green:#29ffa2;
$green-shadow:  rgba(41,255,162,0.3);
$black-shadow:rgba(0,0,0,0.3);

$red: #f54a20;
$yellow: #fdff6b;
$green: #83ff73;