@import "../../assets/colors-app";


.container {
    position: fixed;
    right: 0;
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
    width: 30%;
    transition:transform 0.4s linear;
    transform: translateX(1000px);
    background-color: $white;

    &.-open {
        transform: translateX(0);
    }
    
}
